.wtitle{
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.ps{
    margin-left: 7vw;
    margin-right: 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}
.point, .point7{
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 0;
    background-color: #437854;
    color: white;
    
}
.point7{
    margin-top: 1vw;
    margin-left: 7vw;
    margin-right: 7vw;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1vw;
    align-items: center;
}

.chkimg{
    aspect-ratio: 1;
    display: cover;
    object-fit: cover;
    width: 60%;
    max-height: 60%;
}