.wtitle{
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.postForm{
    margin-left: 7vw;
    margin-right: 7vw;

    margin-bottom: 7vw;
}

#newPostAuthor, #newPostContent{
    width: 100%;
    border-style: none;
    border-radius: 0.2em;
    height: 2.6em;
    padding-left: 1em;
    background-color:white;

    margin-bottom: 1em;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #31693e;
}

.createPostButton{
    font-family: Helvetica, sans-serif;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.2em;
    font-size: 1.2rem;
    font-weight: 300;
    color: #31693e;
}

#newPostContent, #newPostContent::placeholder{
    text-align: left;
    height: 8em;
}

#posts{
    
    margin-left: 7vw;
    margin-right: 7vw;
}

.postdiv{
    padding:0.5vw;
    background-color: white;
    margin-bottom: 1vw;
}

.postauth{
    margin-left: 2vw;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    color: #31693e;
}

.postdate{
    margin-left: 2vw;
    margin-top: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    color: #31693e;
}

.postcontent{
    margin-left: 2vw;
    font-family: Helvetica, sans-serif;
    color: #31693e;
}
