.wtitle{
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.numbers{
    font-family: Helvetica, sans-serif;
    color: #31693e;
    margin-left: 7vw;
    margin-right: 7vw;
}

.organization{
    padding: 0.5em;
    background-color: white;
    margin-bottom: 2vw;
}

.organization>h3, .organization>p{
    margin-left: 2vw;
    margin-right: 2vw;
}