.wtitle{
    margin-left: 7vw;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.storywrapper{
    margin-left: 7vw;
    margin-right: 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    object-fit: cover;
}

.storieslinks{
    width: 100%;
    padding: 0;
    background-color: white;
}

.bkimg{
    width: 96%;
}